@import '../styles/global.scss';

.theme-default {
  background-color: $powderwhite;
  font-family: "Goudy Bookletter 1911", serif;
}

.theme-folklore {
  background-color: $lightgray;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
}

.theme-evermore {
  background-color: $redbrown;
  font-family: "IM Fell DW Pica", serif;
}

.theme-1989 {
  background-color: $powderblue;
  font-family: "Patrick Hand", serif;
}

.theme-red {
  background-color: $red;
  font-family: "Oswald", serif;
}

.theme-speaknow {
  background-color: $purple;
  font-family: "League Script", serif;
}

.theme-ttpd {
  background-color: $ttpdlight;
  font-family: "Goudy Bookletter 1911", serif;
}

.theme-midnights {
  background-color: $powderwhite;
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: normal;
}
