@use '../styles/global.scss' as *;

.theme-default {
  background-color: $powderwhite;
  font-family: "Goudy Bookletter 1911", serif;
}

.theme-folklore {
  background-color: $lightgray;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
  text-transform: lowercase;
}

.theme-evermore {
  background-color: $redbrown;
  font-family: "IM Fell DW Pica", serif;
  text-transform: lowercase;
}

.theme-1989 {
  background-color: $powderblue;
  font-family: "Patrick Hand", serif;
}

.theme-red {
  background-color: $red;
  font-family: "Oswald", serif;
}

.theme-speaknow {
  background-color: rgba($lavender, 0.5);
  font-family: "League Script", serif;
  font-size: 20px;
  color: $darkpurple;
}

.theme-lover {
  background-color: $pink;
  font-family: "Dancing Script", serif;
}

.theme-fearless {
  background-color: $fearlessyellow;
  font-family: "Lato", serif;
}

.theme-ttpd {
  background-color: $ttpdlight;
  font-family: "Goudy Bookletter 1911", serif;
}

.theme-midnights {
  background-color: $powderwhite;
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: normal;
}
