@import '../styles/global.scss';

.theme-folklore {
  background-color: $powderwhite;
  font-family: "IM Fell DW Pica", serif;
}

.theme-evermore {
  background-color: $redbrown;
  font-family: "IM Fell DW Pica", serif;
}

.theme-1989 {
  background-color: $powderblue;
  font-family: "Lacquer", serif;
}

.theme-red {
  background-color: $red;
  font-family: "Oswald", serif;
}
