$powderblue: #b5e2fa;
$powderwhite: #F9F7F3;
$charcoal: #333333;
$lightgray: #e8e8e4;
$lightergray: #e5e5e5;
$redbrown: #5a321f;
$red: #c81d25;
$darkpurple: #28143c;
$purple: #632e6d;
$lightpurple: #923c81;
$lavender: #dfc5fe;
$ttpd: #554c3c;
$ttpdlight: #c7c1bc;
$midnightsblue: #7692a7;
$midnightslightblue: #9caeb3;
$midnightspurple: #7a85a3;
