$powderwhite: #F9F7F3;
$charcoal: #333333;

// folkore
$antiflashwhite: #EFEFEF;
$lightgray: #e8e8e4;
$lightergray: #e5e5e5;
$wolf: #D3D3D3;
$gray: #949494;
$battleshipgray: #9C9C9C;
$darkergray: #82837F;
$dimgray: #61625E;
$darkgray: #535450;
$folklorejet: #2F2F2F;

// evermore
$redbrown: #5a321f;
$timberwolf: #DED4D1;
$lion: #AF9074;
$cinereous: #7F6F63;
$brownsugar: #BC653C;
$brown: #633820;
$mud: #B3A18D;
$orange: #E59562;
$peach: #F8BE9B;
$garnet: #7B322C;

// red
$red: #c81d25;
$amarath: #A52145;
$khaki: #A69E89;
$fadedmagenta: #8B3A4D;
$spacecadet: #27233D;
$liver: #7A5A4E;
$alabaster: #F3F1E5;

// speak now
$darkpurple: #28143c;
$purple: #632e6d;
$lightpurple: #923c81;
$lavender: #dfc5fe;

// ttpd
$ttpdgray: #554c3c;
$ttpdlightergray: #7A7976;
$ttpdlight: #c7c1bc;
$belle: #EDEBE8;
$ttpdkhaki: #A89E8F;
$jet: #2F2A24;
$jet2: #312D26;
$darkjet: #26211E;

// midnights
$midnightsblue: #7692a7;
$airblue: #7794A8;
$midnightslightblue: #9caeb3;
$cadetgray: #97B2B8;
$midnightspurple: #7a85a3;
$bluepurple: #51618B;
$moonstone: #709FAC;
$coolgray: #7B86A5;
$wine: #78272D;
$oldrose: #AB7368;
$oxfordblue: #3A3D46;
$platinum: #EAE9E6;
$navy: #141332;
$bluecharcoal: #475462;
$persian: #2A3B53;
$orangebrown: #90614E;
$eggplant: #774F59;

// lover
$pink: #f3cbde;
$darkerpink: #eaa2c3;
$lapink: #FDBDDC;
$loverblue: #70b4d9;
$caroblue: #65ADD7;
$magenta: #d3437d;
$lemon: #fff4cd;
$loveryellow: #FFE8B6;
$bakerpink: #FA9BB4;
$salmon: #F498AB;

// 1989
$powderblue: #ABBFCF;
$darkerblue: #6791B3;
$lightbrown: #C09475;
$timber: #CFCAC1;
$lightblue: #b5e2fa;
$steelblue: #5483A7;
$carolina: #8CB0CA;
$bone: #D8D4C7;
$marker: #3A3A46;

// fearless
$fearlessyellow: #fae8b8;
$fearlessearth: #e3b86f;
$kobicha: #683e1a;
$cafe: #4f2f1c;
