@use '../styles/global.scss' as *;

.customPlayer {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  width: 280px;
  grid-column: 3 / 4;
  grid-row: 3 / 6;
  place-self: center;
  text-align: left;

  &.theme-ttpd {
    background-color: $powderwhite;
    border: 0.5px solid $ttpdgray;
    color: $ttpdgray;
  }

  &.theme-red {
    background-color: $khaki;
    border: 0.5px solid $spacecadet;
    color: $liver;
  }

  &.theme-speaknow {
    background-color: $lavender;
    border: 0.5px solid $purple;
    color: $purple;
  }

  &.theme-folklore {
    background-color: $wolf;
    border: 0.5px solid $darkgray;
    color: $dimgray;
  }

  &.theme-evermore {
    background-color: $redbrown;
    border: 0.5px solid $brownsugar;
    color: $timberwolf;
  }

  &.theme-midnights {
    background-color: $midnightsblue;
    border: 0.5px solid $wine;
    color: $wine;
  }

  &.theme-lover {
    background-color: $loverblue;
    border: 0.5px solid $lemon;
    color: $lemon;
  }

  &.theme-fearless {
    background-color: $fearlessearth;
    border: 0.5px solid $kobicha;
    color: $kobicha;
  }

  &.theme-1989 {
    background-color: $powderwhite;
    border: 0.5px solid $lightbrown;
    color: $lightbrown;
  }
}

.progressBar {
  width: 100%;
  height: 4px;
  background-color: $lightgray;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 12px;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: $gray;
  transition: width 0.1s linear;
}

.time {
  font-size: 14px;
  margin-bottom: 24px;

  &.theme-lover, &.theme-midnights, &.theme-fearless, &.theme-red {
    font-size: 11px;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .buttonsRight {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.playPauseButton,
.skipButton {
  margin: 12px 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid;
  border-radius: 0%;
  color: inherit;

  &:focus,
  &:hover {
    outline: none;
    opacity: 0.8;
    border: 1px solid;
  }

  &:first-child {
    border-right: none;
  }

  &:last-child {
    border-left: none;
  }
}

.shuffleButton {
  @extend .playPauseButton;
  border-left: 1px solid !important;

  &:focus {
    opacity: 1;
  }

  &.active {
    opacity: 0.5;
  }
}

.songInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .playing {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: -12px;

    .title {
      font-weight: bold;
      font-size: 16px;
      margin-left: 16px;
    }
  }

}
