@use '../styles/global.scss' as *;

.lyricsContainer {
  background-color: inherit;
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  place-self: center;
  // border: 0.5px solid $charcoal;
  color: inherit;

  .lyrics {
    padding: 2px 12px;
    min-width: 450px;
    max-width: max-content;
    min-height: 450px;
    max-height: fit-content;

    .highlightedLyric {
      color: $powderwhite
    }
  }

  &.theme-ttpd {
    border: 0.5px solid $ttpdlight;
    padding: 0 10px;

    .lyrics {
      background: linear-gradient(to bottom right, $belle, $ttpdlight, $ttpdkhaki);
      background-clip: text;
      color: transparent;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -10.5px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: -1;
        border: 0.5px solid $ttpdlight;
        padding: 10px 0;
        box-shadow: inset 0px 10px 0px 0px $jet2,
                    inset 0px -10px 0px 0px $jet2;
      }

      .highlightedLyric {
        color: white;
      }
    }
  }

  &.theme-midnights {
    border: 0.5px solid $midnightsblue;
    background: linear-gradient(to bottom, $navy, $persian 10%, $bluecharcoal, $orangebrown 60%, $eggplant 99%),;
    color: $platinum;
    font-weight: 600;
    font-size: 14px;

    .highlightedLyric {
      color: $cadetgray;
    }
  }

  &.theme-1989 {
    color: $marker;
    font-size: 18px;
    border: 15px solid $bone;
    border-radius: 0;

    .lyrics {
      background-color: $timber;
      box-shadow: 0px 0px 0px 5px $bone;
      border-radius: 5px;

      .highlightedLyric {
        color: $darkerblue;
      }
    }

  }

  &.theme-red {
    color: $spacecadet;
    background-color: $alabaster;
    box-shadow: -8px 10px 2px 1px $spacecadet;

    .highlightedLyric {
      color: $fadedmagenta;
    }
  }

  &.theme-folklore {
    color: $wolf;
    border: 0px;

    .lyrics {
      background: linear-gradient(to right, rgba(90, 89, 89, 0.9), rgba(174, 173, 173, 0.3));
      backdrop-filter: blur(2px) invert(20%);
      border: 5px ridge $battleshipgray;
    }

    .highlightedLyric {
      color: $antiflashwhite;
    }
  }

  &.theme-evermore {

    .lyrics {
      padding: -5px 12px;
      background-color: $mud;
      color: $garnet;
      border: 2px double $redbrown;
      box-shadow: inset 0 0 5px $cinereous;


      .highlightedLyric {
        color: $brownsugar;
      }
    }


  }
}
