@import '../styles/global.scss';

.songList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Goudy Bookletter 1911", Helvetica, serif;
  font-size: 14px;
  background-color: $powderwhite;
  border: 0.5px solid $charcoal;
  text-align: center;
}

.songItem {
  padding: 4px 12px;
  border-bottom: 1px solid #ccc;
}

.songLink {
  text-decoration: none;
  cursor: pointer;
  color: $charcoal;
}
