@use '../styles/global.scss' as *;

.songList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Goudy Bookletter 1911", Helvetica, serif;
  font-size: 14px;
  background-color: $powderwhite;
  border: 0.5px solid $charcoal;
  text-align: center;
  height: fit-content;
  width: max-content;
  grid-column: 1 / 2;
  grid-row: 1 / 8;
  align-self: center;
  text-transform: initial;
}

.songItem {
  padding: 2px 12px;
  border-bottom: 1px solid #ccc;
}

.songLink {
  text-decoration: none;
  cursor: pointer;
  color: $charcoal;
}
