@use './styles/global' as *;

#root {
  margin: 0 auto;
}

.app {
  width: 100vw;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  // align-items: center;
  // justify-content: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.lyrics-container {
  width: 400px;
  height: 400px;
  background-color: $powderwhite;
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  place-self: center;
}

.description {
  font-size: 18px;
  font-weight: inherit;
  color: $charcoal;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  place-self: center;
}
