@import './styles/global';

#root {
  margin: 0 auto;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.lyrics-container {
  width: 400px;
  height: 400px;
  background-color: $powderblue;
}
